body {
  font-family: "Nunito", sans-serif;
}

.left__panel {
  background-color: #472E25;
  color: white;
  height: 100%;
  width: 210px;
  text-align: center;
  padding-top: 1rem;
}
.left__panel__title {
  font-size: 26px;
}
.left__panel__img {
  height: 70px;
  max-width: 120px;
}
.left__panel__items__container {
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left__item {
  max-height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__img__container {
  width: 100%;
}

.bg__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 970px;
  width: 100%;
  background-image: url("./assets/banner_bg.png");
  position: relative;
}

.header__container {
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  right: 0;
  left: 210px;
  padding: 1rem;
  width: 1693px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}

.logo__title {
  display: flex;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.title__wrpapper {
  display: flex;
  flex-direction: column;
}
.title__wrpapper q {
  font-size: 27px;
  font-weight: bold;
}

.header__about {
  display: flex;
  gap: 2rem;
  font-size: 16px;
}

.circle {
  height: 632px;
  width: 632px;
  border-radius: 100%;
  background-color: rgba(71, 46, 37, 0.8);
  position: absolute;
  top: 25%;
  left: 8%;
}

.production {
  position: absolute;
  z-index: 4;
  font-size: 53px;
  font-weight: 900;
  color: white;
  top: 38%;
  left: 14%;
  width: -moz-fit-content;
  width: fit-content;
}
.production__desc {
  position: absolute;
  z-index: 4;
  font-size: 24px;
  color: white;
  top: 58%;
  left: 14%;
  width: -moz-fit-content;
  width: fit-content;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #472E25;
  padding-bottom: 5rem;
}

.section__about__upper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 4rem;
  width: 100%;
}
.section__about__upper__left {
  font-size: 42px;
  padding: 2rem;
  text-align: right;
  font-weight: bold;
}
.section__about__upper__right {
  font-size: 32px;
  text-align: center;
  padding: 2rem;
}
.section__about__upper__separator {
  background-color: #EFDAC3;
  height: 129px;
  width: 2px;
}
.section__about__lower {
  width: 1200px;
  margin-left: 120px;
  text-align: justify;
  font-size: 18px;
}
.section__about__pics {
  padding-top: 2rem;
}

.beige__circle {
  background-color: #EFDAC3;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pics__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.pics__item span {
  font-size: 22px;
}

.section__activity h1 {
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-weight: 700;
  width: 100%;
}
.section__activity__img__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.section__activity__img {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background: #472E25;
  width: 305px;
}
.section__activity #img {
  opacity: 0.6;
  width: 305px;
}
.section__activity__img__svg {
  position: absolute;
  bottom: 95px;
  left: 120px;
  max-height: 100px;
  width: 120px;
}
.section__activity__item__title {
  position: absolute;
  bottom: 25px;
  left: 0;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px black;
}/*# sourceMappingURL=index.css.map */